<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/addfriend.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="intro">
        <p>
            Are you tired of having to gather up <b> ALL </b> of your friends
            so that you guys can draw names of a silly hat in order to determine
            who buys who stuff for Christmas? Well say good bye to that pain! 
            Type all of names and emails into this magic table and once you submit
            all of you will get an email telling who you need to buy what for.
            <b>LETS GO!</b>
        </p>
    </div>
    <div id="name-email-tab">
        <table id="entries">
            <thead>
                <tr>
                    <th> Names </th>
                    <th> Emails </th>
                </tr>
            </thead>
            <tbody id="info">
            </tbody>
        </table>
    </div>
    <button id="addrow"> Add Friend </b> 
  </body>
</html>
