body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    border-collapse: collapse;
    width: 800px;

}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
